.miForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.miForm{
    margin-top: 40px;
    width: 100%;
    height: 100vh;
}
.miForm h1{
    margin-bottom: 60px;
}
