@model PROYECTOISW.Models.ViewModel.PropiedadViewModel.CrearPropiedadViewModel
@{
    ViewData["Title"] = "Crear Propiedad";
}

<div class="form-container">
    <h2>Agregar nueva propiedad</h2>
    <form asp-action="CrearPropiedad" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Titulo">Título de la propiedad:</label>
            <input asp-for="Titulo" class="form-control" placeholder="Hermoso departamento a 10 min de ESIME" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
            <small>Debe ser breve pero llamativo.</small>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion">Descripción detallada:</label>
            <textarea asp-for="Descripcion" class="form-control" placeholder="Cercanía a ESIME, áreas comunes, transporte público..."></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="mb-5">
            <label asp-for="TipoPropiedad" class="form-label"></label>
            <select class="form-control" asp-for="TipoPropiedad">
                <option value="casa">Casa</option>
                <option value="departamento">Departamento</option>
                <option value="habitacion">Habitacion</option>
            </select>
            <span asp-validation-for="TipoPropiedad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PrecioRenta">Precio de renta mensual ($):</label>
            <input asp-for="PrecioRenta" type="number" class="form-control" placeholder="5000" />
            <span asp-validation-for="PrecioRenta" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Superficie">Tamaño en metros cuadrados:</label>
            <input asp-for="Superficie" type="number" class="form-control" />
            <span asp-validation-for="Superficie" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumeroHabitaciones">Número de habitaciones:</label>
            <input asp-for="NumeroHabitaciones" type="number" class="form-control" />
            <span asp-validation-for="NumeroHabitaciones" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumeroBaños">Número de baños:</label>
            <input asp-for="NumeroBaños" type="number" class="form-control" />
            <span asp-validation-for="NumeroBaños" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Servicios">Servicios incluidos:</label>
            <input asp-for="Servicios" class="form-control" placeholder="Agua, luz, internet, gas..." />
            <span asp-validation-for="Servicios" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Direccion">Dirección completa:</label>
            <input asp-for="Direccion" class="form-control" placeholder="Dirección exacta" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Distancia">Distancia a ESIME (KM):</label>
            <input asp-for="Distancia" class="form-control" placeholder="Ej: 10 minutos en metro" />
            <span asp-validation-for="Distancia" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CondicionesEspeciales">Condiciones especiales:</label>
            <textarea asp-for="CondicionesEspeciales" class="form-control" placeholder="Ej: No se aceptan mascotas"></textarea>
            <span asp-validation-for="CondicionesEspeciales" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="archivosImagenes" class="form-label">Imagen</label>
            <input asp-for="archivosImagenes" multiple class="form-control" type="file" accept="image/*" />
            <span asp-validation-for="archivosImagenes" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-primary">Publicar propiedad</button>
        </div>
    </form>
    <!-- Mensaje de error -->
    @if (!string.IsNullOrEmpty(ViewBag.Imagenes))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.Imagenes
        </div>
    }
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}