@model List<Reseña>
@{
    Layout = null;
    ViewData["Title"] = "Comentarios";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTOISW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROYECTOISW.styles.css" asp-append-version="true" />
</head>
<body>
<h1>Comentarios</h1>

@foreach (var r in Model)
{
    <h1>Nombre del alumno: @r.IdUsuarioNavigation.NombreCompleto</h1>
    <h1>
        @for (int i = 0; i < 5; i++)
        {
            if (i < r.Calificacion)
            {
                <span class="text-warning">&#9733;</span> <!-- Estrella amarilla -->
            }
            else
            {
                <span class="text-secondary">&#9733;</span> <!-- Estrella gris -->
            }
        }
    </h1>
    <h1>@r.Comentario</h1>
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>