
.form-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%;
}

.resultados {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    width: 18rem;
    height: 25rem; /* Ajusta esta altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card img {
        height: 12rem; /* Ajusta esta altura según tus necesidades */
        object-fit: cover; /* Esto asegura que la imagen se ajuste bien dentro del contenedor */
    }

.lado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .lado button {
        margin-left: 10px;
    }
